.SearchModal {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 200;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  display: flex;
  transition: all 0.5s ease-out;
}

.SearchModal form {
  width: 600px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
  margin-right: 4px;
  align-items: center;
  display: flex;
  background-color: black;
  border-radius: 8px;
  color: white;
}

.SearchModal form input {
  width: 100%;
  height: 32px;
  border: none;
  padding-left: 4px;
  background-color: black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
}

.SearchModal .close {
  cursor: pointer;
}

.SearchModal.show {
  opacity: 1;
  transform: translateX(0);
}

.SearchModal.hide {
  opacity: 0;
  transform: translateX(100%);
}

