.Info2{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.Info2 div{
    width: 670px;
    text-align: left;
}

.Info2 p{
    color:rgb(172, 172, 172);
    font-size: 166%;
}

.Info2 a{
    color: white !important;
    font-size: 166%;

}

.Info2 h1{
    color: white;
    font-size: 400%;
    margin-top: 12px;
}